<!DOCTYPE html>
{% load bootstrap_toolkit %}
{% load url from future %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Hello My Love</title>
    <meta name="description" content="">
    <meta name="author" content="Kevin Zhao">
    {% bootstrap_stylesheet_tag %}
    {% bootstrap_stylesheet_tag "responsive" %}
    <style type="text/css">
        body {
            padding-top: 70px;
        }
    </style>
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    {% bootstrap_javascript_tag %}
    {% block extra_head %}{% endblock %}
</head>

<body>
<audio autoplay="autopaly">
      <source src="/static/renxi.mp3" type="audio/mp3" />
</audio>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">Our Love Stroy</a>
            <ul class="nav">
                <li><a href="{% url 'buttons' %}">Say Love</a></li>
                <li><a href="{% url 'pagination' %}">Timer Shaft</a></li>
                <li><a href="{% url 'contact' %}">Gift for You</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container">

    {% bootstrap_messages %}

    {% block content %}Empty page{% endblock %}

    <p><hr></p>

    <footer class="row">
        <div class="span6">
            <p>This is Love Story of Circle PangPang and White PangPang </a></p>
        </div>
        <div class="span6" style="text-align:right">
            <p>
                &copy; <a href="https://github.com/kevin-zhaoshuai">Kevin Zhao</a> 2015
            </p>
        </div>
    </footer>

</div> <!-- container -->

</body>
</html>
