{% extends "base.html" %}

{% load bootstrap_toolkit %}

{% block content %}

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<titl>Time Shaft</title>
<link rel="stylesheet" href="http://www.helloweba.com/demo/css/main.css" />
<link rel="stylesheet" href="/static/style.css" />
<style type="text/css">
h2.top_title{border-bottom:none;background:none;text-align:center;line-height:32px; font-size:20px}
h2.top_title span{font-size:12px; color:#666;font-weight:500}
</style>
</head>

<body>

<h2 class="top_title">Timer Shaft</a><br/><span></span></h2>

<section id="cd-timeline" class="cd-container">
	<div class="cd-timeline-block">
		<div class="cd-timeline-img cd-picture">
			<img src="/static/img/cd-icon-picture.svg" alt="Picture">
		</div>

		<div class="cd-timeline-content">
			<h2>Getting Together</h2>
			<p>一个有关爱的故事就这样开始了。。。</p>
			<p>
				<img src="/static/img/1222242801.jpg" alt="FirstLOVE">
			</p>
			<span class="cd-date">2013-03-24</span>
		</div>
	</div>
	<div class="cd-timeline-block">
		<div class="cd-timeline-img cd-movie">
			<img src="/static/img/cd-icon-movie.svg" alt="Movie">
		</div>

		<div class="cd-timeline-content">
			<h2>团聚在SJTU</h2>
			<p>经过了漫长的两地分居，终于在交大团聚了</p>
			<p>
				<img src="/static/img/1267221155.jpg" alt="BigWhite">
			</p>
			<span class="cd-date">2013-09-10</span>
		</div>
	</div>
	<div class="cd-timeline-block">
		<div class="cd-timeline-img cd-picture">
			<img src="/static/img/cd-icon-picture.svg" alt="Picture">
		</div>

		<div class="cd-timeline-content">
			<h2>第一次拥有了一本共有的相册记忆</h2>
			<p>还记得吗，那是前年我过生日的时候，宝贝给我亲手做的满满的记忆和满满温馨的相册</p>
			<p>
				<img src="/static/img/memory.jpg" alt="Memory">
			</p>
			<span class="cd-date">2013-09-10</span>
		</div>
	</div>
	<div class="cd-timeline-block">
		<div class="cd-timeline-img cd-picture">
			<img src="/static/img/cd-icon-picture.svg" alt="Picture">
		</div>

		<div class="cd-timeline-content">
			<h2>第一次拥有了一本共有的相册记忆</h2>
			<p>还记得吗，那是前年我过生日的时候，宝贝给我亲手做的满满的记忆和满满温馨的相册</p>
			<span class="cd-date">2014-12-20</span>
		</div>
	</div>
	<div class="cd-timeline-block">
		<div class="cd-timeline-img cd-movie">
			<img src="/static/img/cd-icon-movie.svg" alt="Movie">
		</div>

		<div class="cd-timeline-content">
			<h2>jQuery数字加减插件</h2>
			<p>我们在网上购物提交订单时，在网页上一般会有一个选择数量的控件，要求买家选择购买商品的件数，开发者会把该控件做成可以通过点击实现加减等微调操作，当然也可以直接输入数字件数。本文将介绍常见的几种使用spinner数字微调器来实现数字加减的功能的方法。</p>
			<a href="http://www.helloweba.com/view-blog-282.html" class="cd-read-more" target="_blank">阅读全文</a>
			<span class="cd-date">2014-12-14</span>
		</div>
	</div>
	<div class="cd-timeline-block">
		<div class="cd-timeline-img cd-movie">
			<img src="/static/img/cd-icon-location.svg" alt="Location">
		</div>
			<span class="cd-date">2014-12-20</span>
		</div>
	</div>
	<div class="cd-timeline-block">
		<div class="cd-timeline-img cd-movie">
			<img src="/static/img/cd-icon-movie.svg" alt="Movie">
		</div>

		<div class="cd-timeline-content">
			<h2>jQuery数字加减插件</h2>
			<p>我们在网上购物提交订单时，在网页上一般会有一个选择数量的控件，要求买家选择购买商品的件数，开发者会把该控件做成可以通过点击实现加减等微调操作，当然也可以直接输入数字件数。本文将介绍常见的几种使用spinner数字微调器来实现数字加减的功能的方法。</p>
			<a href="http://www.helloweba.com/view-blog-282.html" class="cd-read-more" target="_blank">阅读全文</a>
			<span class="cd-date">2014-12-14</span>
		</div>
	</div>
	<div class="cd-timeline-block">
		<div class="cd-timeline-img cd-movie">
			<img src="/static/img/cd-icon-location.svg" alt="Location">
		</div>

		<div class="cd-timeline-content">
			<h2>收集整理的非常有用的PHP函数</h2>
			<p>项目中经常会需要一些让人头疼的函数，作为开发者应该整理一个自己的函数库，在需要之时复制过来即可。本文作者收集整理数十个PHP项目中常用的函数，保证能正常运行，你只要复制粘贴到你项目中即可。</p>
			<a href="http://www.helloweba.com/view-blog-281.html" class="cd-read-more" target="_blank">阅读全文</a>
			<span class="cd-date">2014-12-05</span>
		</div>
	</div>
</section>

<div id="footer">
    <p>Forever Love</p>
</div>
{% endblock %}
