{% extends "base.html" %}

{% load bootstrap_toolkit %}

{% block content %}

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<titl>Time Shaft</title>
<link rel="stylesheet" href="http://www.helloweba.com/demo/css/main.css" />
<link rel="stylesheet" href="/static/style.css" />
<style type="text/css">
h2.top_title{border-bottom:none;background:none;text-align:center;line-height:32px; font-size:20px}
h2.top_title span{font-size:12px; color:#666;font-weight:500}
</style>
</head>

<body>

<h2 class="top_title">Timer Shaft</a><br/><span></span></h2>

<section id="cd-timeline" class="cd-container">
	<div class="cd-timeline-block">
		<div class="cd-timeline-img cd-picture">
			<img src="/static/img/cd-icon-picture.svg" alt="Picture">
		</div>

		<div class="cd-timeline-content">
			<h2>Getting Together</h2>
			<p>一个有关爱的故事就这样开始了。。。</p>
			<p>
				<img src="/static/pic/first.jpg" alt="FirstLOVE">
			</p>
			<span class="cd-date">2013-03-24</span>
		</div>
	</div>
	<div class="cd-timeline-block">
		<div class="cd-timeline-img cd-movie">
			<img src="/static/img/cd-icon-movie.svg" alt="Movie">
		</div>

		<div class="cd-timeline-content">
			<h2>团聚在SJTU</h2>
			<p>经过了漫长的两地分居，终于在交大团聚了</p>
			<p>
				<img src="/static/pic/bigwhite.jpg" alt="BigWhite">
			</p>
			<span class="cd-date">2013-09-10</span>
		</div>
	</div>
	<div class="cd-timeline-block">
		<div class="cd-timeline-img cd-picture">
			<img src="/static/img/cd-icon-picture.svg" alt="Picture">
		</div>

		<div class="cd-timeline-content">
			<h2>第一次拥有了一本共有的相册记忆</h2>
			<p>还记得吗，那是前年我过生日的时候，宝贝给我亲手做的满满的记忆和满满温馨的相册</p>
			<p>
				<img src="/static/pic/memory.jpg" alt="Memory">
			</p>
			<span class="cd-date">2014-05-25</span>
		</div>
	</div>
	<div class="cd-timeline-block">
		<div class="cd-timeline-img cd-picture">
			<img src="/static/img/cd-icon-picture.svg" alt="Picture">
		</div>

		<div class="cd-timeline-content">
			<h2>苏州，我们第一次真正意义上的旅行</h2>
			<p>唯一的遗憾，金鸡湖边的摩天轮。。。一定补一个更大的更浪漫的摩天轮。。</p>
			<p>
				<img src="/static/pic/motianlun.jpg" alt="Motianlun">
			</p>
			<span class="cd-date">2014-04-04</span>
		</div>
	</div>
	<div class="cd-timeline-block">
		<div class="cd-timeline-img cd-movie">
			<img src="/static/img/cd-icon-movie.svg" alt="Movie">
		</div>

		<div class="cd-timeline-content">
			<h2>舟山，情人岛，桃花岛，难忘的美好</h2>
			<p>把你照胖了，都是我不好。。。。。</p>
			<p>
				<img src="/static/pic/zhoushan.jpg" alt="Zhoushan">
			</p>
			<span class="cd-date">2014-10-05</span>
		</div>
	</div>
	<div class="cd-timeline-block">
		<div class="cd-timeline-img cd-movie">
			<img src="/static/img/cd-icon-location.svg" alt="Location">
		</div>
		
		<div class="cd-timeline-content">
			<h2>Get IBM</h2>
			<p>心头一块大石头落地，但它落地的太早了。。。</p>
			<p>
				<img src="/static/pic/IBM.jpg" alt="IBM">
			</p>
			<span class="cd-date">2014-10-14</span>
		</div>
	</div>
	<div class="cd-timeline-block">
		<div class="cd-timeline-img cd-movie">
			<img src="/static/img/cd-icon-movie.svg" alt="Movie">
		</div>

		<div class="cd-timeline-content">
			<h2>茜茜23岁啦～会闪烁的纸玫瑰和爱茜茜里蛋糕</h2>
			<p>茜茜生日啦～还好纸玫瑰阵列完成了它唯一一次给力的表演，看到了最终的效果，却没有拍下视频，不过，放心我会把它恢复原状的～今年七夕节，保证让它重见天日～爱茜茜里的六人份冰激凌蛋糕，吃到天荒地老～海枯石烂</p>
			<p>
				<img src="/static/pic/rose.jpg" alt="rose">
			</p>
			<p>
				<img src="/static/pic/aixixili.jpg" alt="aixixili">
			</p>
			<span class="cd-date">2014-12-30</span>
		</div>
	</div>
	<div class="cd-timeline-block">
		<div class="cd-timeline-img cd-movie">
			<img src="/static/img/cd-icon-location.svg" alt="Location">
		</div>

		<div class="cd-timeline-content">
			<h2>2015 is comming</h2>
			<p>惊心的跨年夜，你的英明决策，我们在homeinn安然度过</p>
			<p>
				<img src="/static/pic/2015.jpg" alt="2015">
			</p>
			<span class="cd-date">2015-01-01</span>
		</div>
	</div>
	<div class="cd-timeline-block">
		<div class="cd-timeline-img cd-movie">
			<img src="/static/img/cd-icon-movie.svg" alt="Movie">
		</div>

		<div class="cd-timeline-content">
			<h2>羊年来了</h2>
			<p>Yeah，你的本命年就这样开始啦</p>
			<p>
				<img src="/static/pic/sheep.jpg" alt="sheep">
			</p>
			<span class="cd-date">2015-02-19</span>
		</div>
	</div>
	<div class="cd-timeline-block">
		<div class="cd-timeline-img cd-picture">
			<img src="/static/img/cd-icon-picture.svg" alt="Picture">
		</div>

		<div class="cd-timeline-content">
			<h2>精心的布置了小家</h2>
			<p>sweet home and you</p>
			<p>
				<img src="/static/pic/sweethome.jpg" alt="sweethome">
			</p>
			<p>
				<img src="/static/pic/sweethome2.jpg" alt="sweethome2">
			</p>
			<span class="cd-date">2015-04-05</span>
		</div>
	</div>
	<div class="cd-timeline-block">
		<div class="cd-timeline-img cd-picture">
			<img src="/static/img/cd-icon-picture.svg" alt="Picture">
		</div>

		<div class="cd-timeline-content">
			<h2>EI中举，毕业在即</h2>
			<p>成功的搞定了EI，毕业什么的轻松轻松思密达</p>
			<p>
				<img src="/static/pic/EI.jpg" alt="EI">
			</p>
			<span class="cd-date">2014-04-28</span>
		</div>
	</div>
	<div class="cd-timeline-block">
		<div class="cd-timeline-img cd-movie">
			<img src="/static/img/cd-icon-movie.svg" alt="Movie">
		</div>

		<div class="cd-timeline-content">
			<h2>烟花五月下扬州</h2>
			<p>你比瘦西湖的花更美。。。</p>
			<p>
				<img src="/static/pic/yangzhou.jpg" alt="yangzhou">
			</p>
			<span class="cd-date">2015-05-01</span>
		</div>
	</div>
	<div class="cd-timeline-block">
		<div class="cd-timeline-img cd-movie">
			<img src="/static/img/cd-icon-location.svg" alt="Location">
		</div>
		
		<div class="cd-timeline-content">
			<h2>上海当代艺术馆</h2>
			<p>当代艺术的奇妙和梦幻在这迸发</p>
			<p>
				<img src="/static/pic/dangdaiyishuguan.jpg" alt="dangdaiyishuguan">
			</p>
			<span class="cd-date">2015-06-09</span>
		</div>
	</div>
	<div class="cd-timeline-block">
		<div class="cd-timeline-img cd-movie">
			<img src="/static/img/cd-icon-movie.svg" alt="Movie">
		</div>

		<div class="cd-timeline-content">
			<h2>Goodbye 小粉车</h2>
			<p>啥也不说了，祝它一切安好，说不定转角处，还会重逢。。。。。</p>
			<span class="cd-date">2015-07-13</span>
		</div>
	</div>
	<div class="cd-timeline-block">
		<div class="cd-timeline-img cd-movie">
			<img src="/static/img/cd-icon-location.svg" alt="Location">
		</div>

		<div class="cd-timeline-content">
			<h2>漂流～涟漪～走起</h2>
			<p>我们的第一次自驾游，胖胖在副驾驶上淡定的木有睡着，让俺灰常感动～</p>
			<p>
				<img src="/static/pic/piaoliu.jpg" alt="piaoliu">
			</p>
			<span class="cd-date">2015-08-01</span>
		</div>
	</div>



	<div class="cd-timeline-block">
		<div class="cd-timeline-img cd-picture">
			<img src="/static/img/cd-icon-picture.svg" alt="Picture">
		</div>

		<div class="cd-timeline-content">
			<h2>厦门，迷失在鼓浪屿</h2>
			<p>9月的厦门让人神往（除了热），白城的沙滩，环岛大道的双人自行车，以及去了就不想走的鼓浪屿～美好而永恒的记忆留在了那里～</p>
			<p>
				<img src="/static/pic/xiamen.jpg" alt="xiamen">
			</p>
			<span class="cd-date">2015-09-04</span>
		</div>
	</div>
	<div class="cd-timeline-block">
		<div class="cd-timeline-img cd-movie">
			<img src="/static/img/cd-icon-movie.svg" alt="Movie">
		</div>

		<div class="cd-timeline-content">
			<h2>柳暗花明又一村</h2>
			<p>找工作的压力和煎熬在那天的下午4点集中释放～人生依旧那么美好～</p>
			<p>
				<img src="/static/pic/liuanhuaming.jpg" alt="liuanhuaming">
			</p>
			<span class="cd-date">2015-10-30</span>
		</div>
	</div>
	<div class="cd-timeline-block">
		<div class="cd-timeline-img cd-picture">
			<img src="/static/img/cd-icon-picture.svg" alt="Picture">
		</div>

		<div class="cd-timeline-content">
			<h2>Hello Unionpay</h2>
			<p>卖身银联。。。</p>
			<p>
				<img src="/static/pic/unipay.jpg" alt="unipay">
			</p>
			<span class="cd-date">2015-11-20</span>
		</div>
	</div>
	<div class="cd-timeline-block">
		<div class="cd-timeline-img cd-picture">
			<img src="/static/img/cd-icon-picture.svg" alt="Picture">
		</div>

		<div class="cd-timeline-content">
			<h2>印象毕加索</h2>
			<p>石头来了，但不能改变对艺术的执着。。。</p>
			<p>
				<img src="/static/pic/picaso.jpg" alt="Picaso">
			</p>
			<span class="cd-date">2015-11-21</span>
		</div>
	</div>
	<div class="cd-timeline-block">
		<div class="cd-timeline-img cd-picture">
			<img src="/static/img/cd-icon-picture.svg" alt="Picture">
		</div>

		<div class="cd-timeline-content">
			<h2>ByeBye 盲审！</h2>
			<p>没中没中思密达，话剧话剧我来拉</p>
			<p>
				<img src="/static/pic/webwxgetmsgimg.jpg" alt="mangshen">
			</p>
			<span class="cd-date">2015-12-29</span>
		</div>
	</div>
	<div class="cd-timeline-block">
		<div class="cd-timeline-img cd-movie">
			<img src="/static/img/cd-icon-movie.svg" alt="Movie">
		</div>

		<div class="cd-timeline-content">
			<h2>本宝宝24啦</h2>
			<p>其实最重要的是，，，本命年马上就过去啦～</p>
			<span class="cd-date">2015-12-30</span>
		</div>
	</div>
	<div class="cd-timeline-block">
		<div class="cd-timeline-img cd-movie">
			<img src="/static/img/cd-icon-location.svg" alt="Location">
		</div>
		
		<div class="cd-timeline-content">
			<h2>送你到机场，年前咱们的最后一面</h2>
			<p>所以，我偷偷拍下了熟睡的你。。。</p>
			<p>
				<img src="/static/pic/lastsightin_yangnian.jpg" alt="airport">
			</p>
			<span class="cd-date">2016-01-20</span>
		</div>
	</div>
	
</section>

<div id="footer">
    <p>～爱需要两个人在陪伴中互相成长～过去，我成长的不够；未来，我有决心，定能成长～Forever Love～Forever accompany～</p>
</div>
{% endblock %}
